:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-cl: #2196F3;
  --main-txt-cl: #757575;
  --secondary-txt-cl: rgba(255, 255, 255, 0.60);
  --white-color: #FFF;
  --dark-color: #212121;
  --main-bg-cl: #2F303A;
  --secondary-bg-cl: #F5F4FA;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--main-txt-cl);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

.link,
.content-item a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.logo {
  color: var(--accent-cl);
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 767px) {
  .logo {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    letter-spacing: 0.78px;
  }
}
.logo-dark {
  color: var(--dark-color);
}
.logo-white {
  color: var(--white-color);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .header-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }
}

.navigation-item {
  margin-right: 50px;
}
.navigation-item:last-child {
  margin-right: 0;
}
.navigation-item__menu {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--dark-color);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-item__menu:hover, .navigation-item__menu:focus {
  color: var(--accent-cl);
}

@media screen and (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts-list {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
  }
}

.contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .contacts-item {
    margin-right: 40px;
  }
}
.contacts-item:last-child {
  margin-right: 0;
}
.contacts-item__icon {
  margin-right: 10px;
  fill: currentColor;
}
.contacts-item__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-txt-cl);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contacts-item__menu {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts-item__menu:hover, .contacts-item__menu:focus {
  color: var(--accent-cl);
}

.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

.navigation-item__menu.current {
  color: var(--accent-cl);
}

.brg-menu-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.brg-menu-btn:hover, .brg-menu-btn:focus {
  fill: var(--accent-cl);
}
@media screen and (min-width: 768px) {
  .brg-menu-btn {
    display: none;
  }
}
.brg-menu-btn.is-open {
  position: fixed;
  z-index: 2;
  top: 10px;
  right: 15px;
}

.brg-menu-btn .icon-close {
  display: none;
}

.brg-menu-btn.is-open .icon-close {
  display: block;
  color: #2196F3;
}

.brg-item__menu.current {
  color: var(--accent-cl);
}

.brg-menu-btn.is-open .icon-menu {
  display: none;
}

.brg-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.brg-content {
  top: 0;
  left: 100%;
  padding: 48px 40px;
  position: fixed;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
  display: none;
}
.brg-content.is-open {
  display: block;
  background-color: var(--white-color);
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.brg-item {
  margin-bottom: 32px;
}

.brg-item__menu {
  color: #212121;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}
.brg-item__menu:hover, .brg-item__menu:focus {
  color: var(--accent-cl);
}

.brg-contacts-list {
  margin-top: auto;
  margin-bottom: 64px;
}

.brg-contacts-item:first-child {
  margin-bottom: 32px;
}

.brg-contacts-item__tel {
  color: var(--accent-cl);
  font-family: var(--main-font);
  font-size: 34px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.68px;
}
@media screen and (max-width: 480px) {
  .brg-contacts-item__tel {
    font-size: 26px;
  }
}

.brg-contacts-item__mail {
  color: var(--main-txt-cl);
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.brg-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brg-social-item:not(:last-child) {
  padding-right: 10px;
}
.brg-social-item:not(:first-child) {
  padding-left: 10px;
}
.brg-social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.brg-social-item__link {
  color: var(--accent-cl);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.36px;
}
@media screen and (max-width: 480px) {
  .brg-social-item__link {
    font-size: 12px;
  }
}

.hero {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
@media screen and (max-width: 767px) {
  .hero {
    background-color: rgba(47, 48, 58, 0.4);
    background-image: url("../images/bg/hero-bg_sm.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-color: rgba(47, 48, 58, 0.4);
    background-image: url("../images/bg/hero-bg_sm@2.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-color: rgba(47, 48, 58, 0.4);
    background-image: url("../images/bg/hero-bg_md.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-color: rgba(47, 48, 58, 0.4);
    background-image: url("../images/bg/hero-bg_md@2.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-color: rgba(47, 48, 58, 0.4);
    background-image: url("../images/bg/hero-bg_lg.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-color: rgba(47, 48, 58, 0.4);
    background-image: url("../images/bg/hero-bg_lg@2.jpg");
  }
}
@media screen and (max-width: 1200px) {
  .hero {
    background-size: cover;
  }
}
@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  margin: auto;
  margin-bottom: 30px;
  color: var(--white-color);
  text-align: center;
  font-family: var(--main-font);
  font-weight: 900;
  text-transform: uppercase;
}
@media screen and (max-width: 479px) {
  .hero__title {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    letter-spacing: 1.56px;
    line-height: 1.61em;
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    letter-spacing: 2.64px;
    line-height: 1.36em;
    width: 696px;
  }
}
.hero__btn {
  display: block;
  margin: auto;
  border-radius: 4px;
  background: var(--accent-cl);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: var(--white-color);
  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87em;
  letter-spacing: 0.96px;
}
@media screen and (max-width: 1199px) {
  .hero__btn {
    padding: 10px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: visible;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-wrapper {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--white-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 479px) {
  .modal-wrapper {
    width: 90%;
  }
}
@media screen and (min-width: 480px) {
  .modal-wrapper {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-wrapper {
    width: 528px;
  }
}

.backdrop.is-hidden .modal-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(0.78);
          transform: translate(-50%, -50%) scale(0.78);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  fill: var(--accent-cl);
}
.modal-btn__ellipse {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.1;
}
.modal-btn__close {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-title {
  color: var(--dark-color);
  text-align: center;
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
@media screen and (max-width: 1199px) {
  .form-title {
    line-height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .form-title {
    line-height: normal;
  }
}

.contact-form__group,
.contact-form__policy,
.submit-btn {
  display: block;
}

.contact-form__group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
}
.contact-form__subtitle {
  color: var(--main-txt-cl);
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.contact-form__input {
  width: 100%;
  padding: 12px 0 12px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus {
  border-color: var(--accent-cl);
}
.contact-form__message {
  resize: none;
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__message:focus {
  border-color: var(--accent-cl);
}
.contact-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
}

.contact-form__input:focus + .contact-form__icon {
  fill: var(--accent-cl);
}

.visually-hidden {
  display: none;
}

.border-checkbox {
  width: 16px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 7px;
  outline: 2px solid var(--dark-color);
  outline-offset: -2px;
  border-radius: 3px;
}
.border-checkbox:focus {
  outline: 2px solid var(--accent-cl);
}

.checkbox:checked + .border-checkbox {
  background-color: var(--accent-cl);
  outline: none;
}

.policy-link {
  color: var(--accent-cl);
}

.submit-btn {
  display: block;
  margin: 30px auto 0 auto;
  padding: 10px 52px;
  border-radius: 4px;
  border: none;
  background: var(--accent-cl);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: var(--white-color);
  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}

@media screen and (max-width: 767px) {
  .feature {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .feature {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 768px) {
  .feature-item {
    margin-bottom: 30px;
    width: 100%;
  }
  .feature-item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .feature-item {
    width: calc(50% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .feature-item {
    width: 270px;
  }
}
.feature-item__title {
  margin-bottom: 10px;
  color: var(--dark-color);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .feature-item__title {
    text-align: center;
  }
}
.feature-item__description {
  color: #757575;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.42px;
}

.feature-box {
  height: 120px;
  border-radius: 4px;
  background: #F5F4FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.about {
  padding-bottom: 94px;
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__title {
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about-item {
  margin-right: 30px;
  position: relative;
}
.about-item__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
  text-align: center;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.about-item:last-child {
  margin-right: 0;
}

.about__title {
  color: var(--dark-color);
  text-align: center;
  font-family: var(--main-font);
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.team {
  background-color: var(--secondary-bg-cl);
}
@media screen and (max-width: 767px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  color: var(--dark-color);
  text-align: center;
  font-family: var(--main-font);
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 1199px) {
  .team__title {
    margin-bottom: 30px;
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    letter-spacing: 1.08px;
  }
}

@media screen and (min-width: 768px) {
  .member-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .member-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.member-item {
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 768px) {
  .member-item {
    margin-bottom: 30px;
    width: 100%;
  }
  .member-item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .member-item {
    width: calc(50% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .member-item {
    width: 270px;
  }
}
.member-item__group {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white-color);
  text-align: center;
  font-family: var(--main-font);
  line-height: normal;
  letter-spacing: 0.48px;
  padding-right: 32px;
  padding-left: 32px;
}
.member-item__title {
  margin-bottom: 10px;
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
}
.member-item__position {
  color: var(--main-txt-cl);
  font-size: 16px;
  margin-bottom: 16px;
}
.member-item__img {
  width: 100%;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}
.social-item__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item__link:hover, .social-item__link:focus {
  background-color: var(--accent-cl);
  fill: var(--white-color);
}
.social-item__link:hover .social-item__icon, .social-item__link:focus .social-item__icon {
  fill: var(--white-color);
}
.social-item:last-child {
  margin-right: 0;
}
.social-item__icon {
  fill: #AFB1B8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .customers {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .customers {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.customers__title {
  color: var(--dark-color);
  text-align: center;
  font-family: var(--main-font);
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 1199px) {
  .customers__title {
    margin-bottom: 30px;
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__title {
    margin-bottom: 50px;
    font-size: 36px;
    letter-spacing: 1.08px;
  }
}
.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .customers__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .customers__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: 170px;
  }
}
.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  fill: var(--accent-cl);
  border: 1px solid var(--accent-cl);
}
.customers__icon {
  fill: #AFB1B8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover .customers__icon,
.customers__link:focus .customers__icon {
  fill: var(--accent-cl);
}

@media screen and (max-width: 1199px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .filter-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
    gap: 15px 8px;
  }
}
@media screen and (min-width: 768px) {
  .filter-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

.filter-item:last-child {
  margin-right: 0;
}
.filter-btn {
  padding: 6px 25px;
  border: none;
  border-radius: 4px;
  background: var(--secondary-bg-cl);
  cursor: pointer;
  color: var(--dark-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62em;
  letter-spacing: 0.48px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: box-shadow, color, background-color;
  transition-property: box-shadow, color, background-color, -webkit-box-shadow;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover, .filter-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-cl);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media screen and (max-width: 768px) {
  .content-item {
    margin-bottom: 30px;
    width: 100%;
  }
  .content-item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .content-item {
    width: calc(50% - 15px);
  }
}
.content-item__link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.content-item__link:hover, .content-item__link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.content-item__wrapper {
  position: relative;
  overflow: hidden;
  z-index: -1;
}
.content-item__text {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  bottom: -100%;
  -webkit-transition-property: bottom;
  transition-property: bottom;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  padding: 63px 24px;
}
.content-item__description {
  padding: 20px 24px;
  border: 1px solid #EEE;
  border-top: none;
  background: var(--white-color);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.content-item__description--title {
  margin-bottom: 4px;
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2em;
  letter-spacing: 1.08px;
}
.content-item__description--subtitle {
  color: var(--main-txt-cl);
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.48px;
}
.content-item__img {
  width: 370px;
  height: 294px;
}
@media screen and (max-width: 767px) {
  .content-item__img {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

li:hover .content-item__text,
li:focus .content-item__text {
  bottom: 0;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-bg-cl);
}

@media screen and (min-width: 768px) {
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-box {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.footer-box__content {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-box__content {
    text-align: left;
  }
}

.footer-logo {
  color: var(--accent-cl);
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

@media screen and (max-width: 767px) {
  .join {
    margin-top: 60px;
  }
}
.join__title {
  margin-bottom: 20px;
  color: var(--white-color);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .join__title {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .join__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 94px;
  }
}

.join-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
}
.join-item__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join-item__link:hover, .join-item__link:focus {
  background-color: var(--accent-cl);
}
.join-item__icon {
  fill: var(--white-color);
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .join-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.address {
  margin-top: 28px;
}

.address-adr {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.42px;
}

.address-list {
  margin-top: 12px;
}

.address-item:first-child {
  margin-bottom: 12px;
}
.address-item__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item__link:hover, .address-item__link:focus {
  color: var(--accent-cl);
}

.footer-signup {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-signup {
    margin-left: auto;
    margin-top: 0;
  }
}

.footer-signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-signup-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
  }
}

.signup-text {
  display: block;
  margin-bottom: 20px;
  color: var(--white-color);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .signup-text {
    text-align: left;
  }
}

.signup-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 0 15px 16px;
  width: 358px;
  color: var(--white-color);
}
@media screen and (max-width: 767px) {
  .signup-input {
    width: 100%;
  }
}

.signup-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 28px;
  gap: 10px;
  border-radius: 4px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border: none;
  cursor: pointer;
}
.signup-btn__icon {
  fill: var(--white-color);
}/*# sourceMappingURL=main.css.map */