:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --accent-cl: #2196F3;
    --main-txt-cl: #757575;
    --secondary-txt-cl: rgba(255, 255, 255, 0.60);
    --white-color: #FFF;
    --dark-color: #212121;
    --main-bg-cl: #2F303A;
    --secondary-bg-cl: #F5F4FA;
}
