.feature {
    @media screen and (max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.feature-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.feature-item {


    @media screen and (max-width: 768px) {
       margin-bottom: 30px;
       width: 100%;

       &:last-child {
            margin-bottom: 0;
       }
    }

    @media screen and (min-width: 768px) {
        width: calc(50% - 15px);
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }

    &__title {
        margin-bottom: 10px;
        color: var(--dark-color);
        font-family: var(--main-font);
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;

        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }

    &__description {
        color: #757575;
        font-family: var(--main-font);
        font-size: 14px;
        line-height: 1.7em;
        letter-spacing: 0.42px;
    }
}

.feature-box {
    height: 120px;
    border-radius: 4px;
    background: #F5F4FA;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}


