.header {
    border-bottom: 1px solid #ECECEC;
}

.logo {
    margin-right: 93px;
    color: var(--accent-cl);
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;

    &-dark {
        color: var(--dark-color);
    }

    &-white {
        color: var(--white-color);
    }
}

// .logo-dark {
//     color: var(--dark-color);
// }

// .logo-white {
//     color: var(--white-color);
// }

.header-container {
    display: flex;
    align-items: center;

}

.navigation {

    display: flex;
    align-items: center;

}

.navigation-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.navigation-item {
    margin-right: 50px;


    &:last-child {
        margin-right: 0;
    }

    &__menu {
        position: relative;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        color: var(--dark-color);
        font-family: var(--main-font);
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
        transition-property: color;
        transition-duration: 0.25s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-cl);
        }
    }
}

// .navigation-item:last-child {
//     margin-right: 0;
// }

.contacts-list {
    margin-left: auto;
    display: flex;
    align-items: center;

}


.contacts-item {
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    &:last-child {
        margin-right: 0;
    } 

    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }

    &__menu {
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        color: var(--main-txt-cl);
        font-family: var(--main-font);
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
        transition-property: color;
        transition-duration: 0.25s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-cl);
        }
    }

}

// .contacts-item__icon {
//     margin-right: 10px;
//     fill: currentColor;
// }


// .contacts-item:last-child {
//     margin-right: 0;
// }


// .navigation-item__menu {
//     position: relative;
//     display: block;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     color: var(--dark-color);
//     font-family: var(--main-font);
//     font-size: 14px;
//     font-weight: 500;
//     line-height: normal;
//     letter-spacing: 0.28px;
//     transition-property: color;
//     transition-duration: 0.25s;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

.current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;


}


// .navigation-item__menu:hover,
// .navigation-item__menu:focus {
//     color: var(--accent-cl);
// }

.navigation-item__menu.current {
    color: var(--accent-cl);
}

// .contacts-item__menu {
//     display: flex;
//     align-items: center;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     color: var(--main-txt-cl);
//     font-family: var(--main-font);
//     font-size: 14px;
//     font-weight: 500;
//     line-height: normal;
//     letter-spacing: 0.28px;
//     transition-property: color;
//     transition-duration: 0.25s;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// .contacts-item__menu:hover,
// .contacts-item__menu:focus {
//     color: var(--accent-cl);
// }